@import 'sass/mixins';

.apclogo, .apcmbrpix{
    @include span(2);
}
.apcname{
    @include span(8);
    text-align: center;
    & .apc {
        font-size: 1.3em;
        color: green;
        font-weight: bolder;
    };
    & .address{
        font-weight: bold;
    }
}
.border-btm{
    border-bottom: thin solid #5f9ea0;
}
.round{
    border-radius: 50%;
}
.bioprop{
    @include span(4);
    font-weight: bold;
    padding: 8px;
}
.bioname{
    @include span(8);
    padding: 8px;
}
.validation{
    font-size: 16px;
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}